<div class="container">
  <div class="blog_detail">
    <h1>Blog Detail</h1>
    <h2>{{titleBlog}}</h2>
    <p>{{content}}
    </p>
    <div class="author-date">
      <p class="author">Author: {{author}}</p>
      <p class="date">Date: {{date}}</p>
    </div>
  </div>
  <div class="comment__list">

    <h3>Comment</h3>
    {{#each comments}}
      <div class="comment__item">
        <span
          style="font-weight: bold; font-size:20px; margin-right:1rem"
        >{{this.author}}</span>
        <span style="opacity:0.7">{{this.date}}</span>
        <p>{{this.comment}}</p>

        {{#if (eq this.author this.authorBlog)}}

          <a href="/delete-comment/{{this._id}}"><button
              type="button"
              class="btn-delete"
            >Xóa</button></a>
        {{/if}}
        <a href=""><button type="button" class="btn-update">Sửa</button></a>
      </div>
    {{/each}}
  </div>
  <div class="comment-form">
    <form class="comment-form__form" method="POST">
      <label for="comment">Nhập comment:</label>
      <textarea
        name="comment"
        id="comment"
        class="comment-form__textarea"
      ></textarea>
      <button type="submit" class="comment-form__button">Comment</button>
    </form>
  </div>
</div>

<link rel="stylesheet" href="/css/blog-detail.css" />