<div class="container">
  <div class="profile-header">
    <h1 class="profile-title">Thông tin người dùng</h1>
  </div>
  <form class="profile-info" method="POST">
    <div class="profile-field">
      <label class="profile-label">Username:</label>
      <input
        name="username"
        type="text"
        class="profile-input"
        value="{{username}}"
        disabled
      />
    </div>
    <div class="profile-field">
      <label class="profile-label">Password:</label>
      <input
        name="password"
        type="text"
        class="profile-input"
        value="{{password}}"
      />
    </div>
    <div class="profile-field">
      <label class="profile-label">Full Name:</label>
      <input
        name="fullname"
        type="text"
        class="profile-input"
        value="{{fullname}}"
      />
    </div>
    <div class="profile-field">
      <label class="profile-label">Date of Birth:</label>
      <input
        name="dateofbirth"
        type="text"
        class="profile-input"
        value="{{dateofbirth}}"
      />
    </div>
    <div class="profile-field">
      <label class="profile-label">Hometown:</label>
      <input
        name="hometown"
        type="text"
        class="profile-input"
        value="{{hometown}}"
      />
    </div>
    <div class="btn">
      <button class="save-button" type="submit">Save</button>

      <a href="/logout">

        <button class="logout-button" type="button">Logout</button>

      </a></div>
  </form>
</div>
<link rel="stylesheet" href="/css/profile.css" />